.editor-area {
    overflow: hidden;
    float: left;
}

.controls {
    width: 100px;
    overflow: hidden;
    float: right;
    position: relative;
}

.canvas-bg-wrapper {
    position: relative;
    width: 600px;
    height: 560px;
}

.canvas-bg {
    position: absolute;
}
